.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.input {
  all: unset;
  width: 30%;
  padding: 0.5rem;
  border: 2px solid #645caa;
  border-radius: 10px;
  margin-top: 2rem;
  box-shadow: 0 0 10px #ccc;
}

.input-hidden {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 2rem 1.5rem;
  border: 2px solid #645caa;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

.input-hidden > input {
  width: 100%;
}

.input-hidden > textarea {
  width: 100%;
}

.input-expanded {
  all: unset;
  padding: 0.5rem;
  border-bottom: 2px solid #ccc;
}

.input-expanded:focus {
  border-bottom: 2px solid #645caa;
}

.button {
  padding: 0.2rem 0.5rem;
  background-color: #a084ca;
  border: 2px solid #645caa;
  border-radius: 10px;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

.button:hover {
  background-color: #bface0;
}

.bottom-options {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.picker {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
}

.picker > abbr {
  height: 2rem;
  width: 2rem;
  border: 2px solid #a084ca;
  border-radius: 50%;
  margin-right: 1rem;
  padding: 0.2rem;
}

.icons {
  font-size: 2rem;
  cursor: pointer;
  color: #645caa;
}

.icons:hover {
  color: #a084ca;
}

.popover {
  position: absolute;
  z-index: 2;
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

::placeholder {
  text-shadow: 0 0 1px #ccc;
}

::-ms-input-placeholder {
  text-shadow: 0 0 1px #ccc;
}

.loading-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.loading {
  font-size: 2rem;
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (width< 972px) {
  .input-hidden {
    width: 40%;
  }
}

@media screen and (width< 720px) {
  .input {
    width: 60%;
  }
  .input-hidden {
    width: 60%;
  }
}

@media screen and (width< 480px) {
  .input {
    width: 80%;
  }
  .input-hidden {
    width: 80%;
  }
}
