.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem 2rem;
  padding-bottom: 27px;
}

@media screen and (width< 720px) {
  .main {
    margin: 2rem 1rem;
  }
}

@media screen and (width< 480px) {
}
