.note-card {
  width: 280px;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 2px solid #645caa;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 2em;
  box-shadow: 0 0 10px #ccc;
  cursor: default;
  break-inside: avoid;
}

.note-card:hover {
  box-shadow: 0 0 10px #535353;
}

.title {
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.note {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.bottom-options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.icon {
  font-size: 1.5rem;
  color: #645caa;
  margin-right: 1rem;
  cursor: pointer;
}

.icon:hover {
  color: #a084ca;
}

@media (max-width: 576px) {
  .note {
    width: 100%;
  }
}